/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
body,
.map {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    color: #222;
    font-size: 18px;
    font-family: 'FuturaLight', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    margin: 0 auto;
}

.map {
    display: block;
    width: 100%;
    height: 100%;
}

.tools {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    max-height: 100%;
    overflow: auto;
}

.things {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
}

.things li {
    cursor: pointer;
    padding: 0.2em;
    border: 1px solid #ddd;
}

.things li:hover,
.things li:focus {
    background-color: #ddd;
}

summary {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

details {
    padding: 0.2em;
    height: 100%;
}
